<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <title>{% block pageTitle %} beam {% endblock %}</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/layout.css">
  </head>
  <body>
    <div class="container">
        <div class="sidebar">
            <div class="brand">
                <img src="/logo.png">
                <span>beam</span>
            </div>

            <div class="side-items">
                <ul>
                    <a href="/dashboard"><li id="home-item">
                        <i data-lucide="house"></i>
                        <span class="ml-1">Home</span>
                    </li></a>
                    <a href="/dashboard/datasource"><li id="datasource-item">
                        <i data-lucide="database"></i>
                        <span class="ml-1">Data Source</span>
                    </li></a>
                    <a href="/dashboard/monitor"><li id="monitor-item">
                        <i data-lucide="square-activity"></i>
                        <span class="ml-1">Monitoring</span>
                    </li></a>
                    <a href="/dashboard/settings"><li id="settings-item">
                        <i data-lucide="wrench"></i>
                        <span class="ml-1">Settings</span>
                    </li></a>
                </ul>
            </div>
        </div>
        <div class="content">
            <h1> {% block containerTitle %} ContTitle {% endblock %} </h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Production version -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();

        let activeDict = { 
            "/dashboard": () => document.getElementById("home-item").classList.add("active"), 
            "/dashboard/monitor": () => document.getElementById("monitor-item").classList.add("active"),
            "/dashboard/settings": () => document.getElementById("settings-item").classList.add("active"),
        };

        // Get current URL path
        let path = window.location.pathname;

        // Lookup object and execute function if it exists
        if (activeDict[path]) {
            activeDict[path]();
        }
    </script>
  </body>
</html>


