
.cont{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    min-width: 170px;
    max-width: 170px;
    height: 100vh;
    padding: 1rem;
    border-right: 1px solid black;
}

.brand {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 7%;
    margin-left: 0%;
    gap: 8px;

    /* make div unselectable */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

.brand img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brand span {
    font-size: 40px;
    font-weight: 400;
    color: grey;
}

.side-items {
    font-weight: 300;
    height: 100%;
    margin-top: 10%;
}

.side-items ul{
    margin: 0;
    padding: 0;
}

.side-items li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-radius: 1rem;
    /*center elements*/
    align-items: center; 
    justify-content: center;
    height: 3rem;
    margin-top: 1%;
}
.side-items li:hover {
    background-color: rgba(200, 200, 200, 0.4);
}

.side-items li svg{
    margin-left: auto;
}
.side-items li span{
    margin-left: 10px;
}

.content {
    height: 98vh;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    padding-right: 5%;
}


#contentTitle {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.loading-state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ddd;
  border-top-color: orange;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

